.Header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;

  &-Logo {
    font-size: 24px;
    line-height: 24px;
    text-decoration: none;
    padding: 20px 20px 20px 0;
    text-transform: uppercase;
    font-weight: 600;
    user-select: none;
    color: #7e8ff4;
  }

  &-Login {
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    padding: 15px 30px;
  }
}
