* {
  box-sizing: border-box;
  color: #444444;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(250, 250, 250);
}
